.form {
    border: 10px solid #d0809b;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.50);
    text-align: left;
    width: 700px;
    padding: 30px;
}
input[type=text], input[type=tel], input[type=email], input[type=submit] {
    border: 3px solid #d0809b;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
}
textarea {
    border: 3px solid #d0809b;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
}
input[type=submit] {
    cursor: pointer;
}
.bar {
    background-color: #3b434d7a;  
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
}
.bar a {
    color:black;
    text-align: center;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}
.bar a:hover {
    background-color: rgba(221, 221, 221, 0.726);
    color: black;
}
.bar a.active {
    background-color:rgba(221, 221, 221, 0.726);
}
body {
    background-image: url(/images/background1.jpeg);
    background-size: 100%;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }